# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary

libavcodec/src/libavcodec symlink=dir
libavcodec/src/libavfilter symlink=dir
libavcodec/tests/basics/tests symlink=dir

libavdevice/src/libavdevice symlink=dir
libavdevice/tests/basics/tests symlink=dir

libavutil/src/compat symlink=dir
libavutil/src/libavutil symlink=dir
libavutil/tests/basics/tests symlink=dir

libavformat/src/libavformat symlink=dir
libavformat/tests/basics/tests symlink=dir

libavfilter/src/libavfilter symlink=dir
libavfilter/tests/basics/tests symlink=dir

libavdevice/src/libavdevice symlink=dir
libavdevice/tests/basics/tests symlink=dir

libpostproc/src/libpostproc symlink=dir
libpostproc/tests/basics/tests symlink=dir

libswscale/src/libswscale symlink=dir
libswscale/tests/basics/tests symlink=dir

libswresample/src/libswresample symlink=dir
libswresample/tests/basics/tests symlink=dir
